.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}

.logo:visited {
  color: inherit;
}

.logo-highlight {
  color: #2196f3;
}

.nav-list {
  list-style: none;
}

.nav-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.nav-link:hover {
  color: #2196f3;
}

.contact-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
}

.contact-link:hover {
  color: #2196f3;
}

.header-main {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.header-main-wrapper {
  background: #2f303a;
}

.header-main-button {
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.blurb-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}

.blurb-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.whatwedo-header {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.whatwedo-photo-list {
  list-style: none;
}

.ourteam-header {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.ourteam-list {
  list-style: none;
}

.ourteam-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.ourteam-role {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.footer-address {
  font-style: normal;
}

.address-location {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
}

.address-email,
.address-phone {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}

.portfolio-menu {
  list-style: none;
}

.portfolio-menu-button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #2196f3;
  text-decoration: none;
  color: #fff;
  border: 0;
  padding: 0;
}

.projects-grid {
  list-style: none;
}

.project-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}

.project-description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
